<%= render partial: "./navbar" %>

<div class="row text-center">
      <div class="col-md-12">
        <div class="pres1">
          <h1 id="title"> INFINITE ROAD </h1>
          <div class="button-glace">
            <a href="bikes" class="btn btn-primary btn-lg">ENTER</a>
          </div>
        </div>
      </div>
    </div>
